.purple-box {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
}

.purple-box p {
    margin: 0;
}

.purple-box .triggered {
    margin: 0 1rem;
}